<ion-view view-title="Les sites historiques">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="histoire in histoires" type="item-text-wrap" href="#/app/histoire/{{histoire.id}}">
        <img ng-src="{{histoire.vignette}}">
        <h2>{{histoire.name}}</h2>
        <p>{{histoire.sousTitre}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
