<ion-side-menus>

  <ion-pane ion-side-menu-content>

    <ion-nav-bar class="bar-assertive nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i>Retour</ion-nav-back-button>

    </ion-nav-bar>

    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>

  </ion-pane>

  <ion-side-menu side="left">

    <header class="bar bar-header bar-stable">
      <h1 class="title">Menu</h1>
    </header>

    <ion-content class="has-header">

      <ion-list>
        <ion-item href="#/app/accueil" menu-close>Accueil</ion-item>
        <ion-item href="#/app/paysages" menu-close>Paysages</ion-item>
        <ion-item href="#/app/histoire" menu-close>Histoire</ion-item>
        <ion-item href="#/app/religieux" menu-close>Religieux</ion-item>
        <ion-item href="#/app/vernaculaire" menu-close>Vernaculaire</ion-item>  
        <ion-item href="#/app/artistique" menu-close>Artistique</ion-item>
        <ion-item href="#/app/contemporain" menu-close>Contemporain</ion-item>
        <ion-item href="#/app/carte" menu-close>Carte</ion-item>
        <ion-item href="#/app/ar" menu-close>Réalité augmentée</ion-item>
        <ion-item href="#/app/bjs" menu-close>bjs</ion-item>

       <!-- <ion-item nav-clear menu-close ng-click="goTo(locationKey)" ng-repeat="(locationKey,location) in locations track by location.name">
          {{location.name}}
        </ion-item> -->

      </ion-list>

    </ion-content>

  </ion-side-menu>

</ion-side-menus>


