<ion-view view-title="Paysages et espaces naturels">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="p in paysages" type="item-text-wrap" href="#/app/paysages/{{p.id}}">
        <img ng-src="{{p.vignette}}">
        <h2>{{p.name}}</h2>
        <p>{{p.sousTitre}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
