<!--<link href="../css/style.css" rel="stylesheet" type="text/css">-->
<link href="../css/style.css" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<ion-view view-title="Accueil">
    <ion-content class="padding">
        <div class="list card">
          <div class="item item-body">
            <div>
              <p><b><span class="titre">Les paysages</span></b></p>
              <p class="police">Les paysages de la CASA sont en partie protégés., notamment au titre des sites.<br />
                La protection au titre des sites a pour but d’assurer la préservation des monuments naturels et des sites dont le caractère 
                artistique, historique, scientifi que, légendaire ou pittoresque relève de l’intérêt général.<br />
                Issue de la loi du 2 mai 1930, la protection des sites est à présent organisée par le titre IV chapitre 1er du code de l’environnement.<br />
                De la compétence du ministère de l’écologie et du développement durable, cette mesure est mise en oeuvre<br />
                localement par la DIREN et les services départementaux de l’architecture et du patrimoine (SDAP) sous l’autorité des 
                préfets de département.<br />
                <br />
              Il existe deux niveaux de protection :</p>
              <p class="police">• le classement : il est généralement réservé aux sites les plus remarquables à dominante naturelle dont le caractère, 
                notamment paysager doit être rigoureusement préservé.<br />
                • l’inscription : elle est proposée pour des sites moins sensibles ou plus humanisés qui, sans qu’il soit nécessaire de recourir 
              au classement, présentent suffi samment d’intérêt pour être surveillés de très prés.</p>
              <p class="police">&nbsp;</p>
              <div class="div_100"><img src="../img/paysage.png" width="660" height="757" /><br />
                <br />
                <br />
                <br />
<br />
                <br />
              </div>
            </div>
            </div>
          <div class="gauche_texte"><span class="gras">ANTIBES</span><br />
            <br />
            Sites classés<br />
            - Quartier Notre Dame de la Garoupe; quartier de la pinède à Juan entre la<br />
            route et la mer; quartier Bacon et quartier Notre Dame, entre le chemin de<br />
            grande communication n°8 et la mer.<br />
            - Domaine public maritime constituant la Côte du Cap d’Antibes depuis le<br />
            carrefour du boulevard J. Willie jusqu’à la Fontaine du Pin.<br />
            Sites inscrits<br />
            - Ensemble littoral ouest (totalité de la commune)<br />
            - Partie vieille ville, port et Saint Roch<br />
            - Site naturel du Cap d’Antibes<br />
            - Zone de protection autour du Fort Carré<br />
            <br />
            <span class="gras" id="gras">BIOT</span><br />
            <br />
            Sites inscrits<br />
            - Ensemble littoral ouest<br />
            - Village<br />
            <br />
            <span class="gras">CAUSSOLS</span><br />
            <br />
            Site inscrit<br />
            - Plateau de Caussols (ensemble de la commune)<br />
            <br />
            <span class="gras">CHATEAUNEUF</span><br />
            <br />
            Site inscrit<br />
            - Village et abords<br />
            <br />
            <span class="gras">COURMES</span><br />
            <br />
            Sites classés<br />
            - Arrière pays des Baous<br />
            - Cascade<br />
            Site inscrit<br />
            - Village<br />
            <br />
            <span class="gras">LA COLLE-SUR-LOUP</span><br />
            <br />
            Site inscrit<br />
            - Ensemble littoral ouest<br />
            <br />
            <span class="gras">GOURDON</span><br />
            <br />
            Sites classés<br />
            - Place Victoria (sol, arbres et murs)<br />
            - Vieux Château<br />
            Sites inscrits<br />
            - Place Victoria (sol)<br />
            - Cascade du Saut-du-Loup<br />
          - Plateau de Caussols (totalité de la commune sauf Pont du Loup)</div>
          <div class="droite_texte"><span class="gras">OPIO</span><br />
            <br />
            Sites inscrits<br />
            - Ensemble littoral ouest<br />
            - Village et abords<br />
            <br />
            <span class="gras">ROQUEFORT-LES-PINS</span><br />
            <br />
            Site inscrit<br />
            - Ensemble littoral ouest<br />
            <br />
            <span class="gras">SAINT-PAUL</span><br />
            <br />
            Sites inscrits<br />
            - Ensemble littoral ouest<br />
            - Village et abords<br />
            <br />
            <span class="gras">TOURRETTES-SUR-LOUP</span><br />
            <br />
            Site classé<br />
            - Arrière pays des Baous<br />
            Sites inscrits<br />
            - Arrière pays de Vence<br />
            - Village et abords<br />
            <br />
            <span class="gras">VALBONNE</span><br />
            <br />
            Sites inscrits<br />
            - Ensemble littoral ouest<br />
            - Village<br />
            <br />
            <span class="gras">VALLAURIS</span><br />
            <br />
            Site inscrit<br />
            - Ensemble littoral ouest<br />
            <br />
            <span class="gras">VILLENEUVE-LOUBET</span><br />
            <br />
            Site inscrit<br />
          - Ensemble littoral ouest</div>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>
    </ion-content>
</ion-view>
