<!--
Create tabs with an icon and label, using the tabs-stable style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->


<ion-tabs class="tabs-icon-top tabs-stable">

    <!-- Accueil Tab -->
    <ion-tab title="Accueil" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/accueil">
        <ion-nav-view name="tab-accueil"></ion-nav-view>
    </ion-tab>

    <!-- paysages-paysages Tab -->
    <ion-tab title="Paysages" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/paysages-paysages">
        <ion-nav-view name="paysages-paysages"></ion-nav-view>
    </ion-tab>

    <!-- paysages Tab -->
    <ion-tab title="Paysages et espaces naturels" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/paysages">
        <ion-nav-view name="tab-paysages"></ion-nav-view>
    </ion-tab>

    <!-- eau-milieumarin Tab -->
    <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/eau-milieumarin">
        <ion-nav-view name="eau-milieumarin"></ion-nav-view>
    </ion-tab>


</ion-tabs>
