<!--
Create tabs with an icon and label, using the tabs-stable style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->


<ion-tabs class="tabs-icon-top tabs-stable">

    <!-- Accueil Tab -->
    <ion-tab title="Accueil" icon-off="ion-ionic" icon-on="ion-ionic" href="#/tab/accueil">
        <ion-nav-view name="tab-accueil"></ion-nav-view>
    </ion-tab>

    <!-- paysages Tab -->
    <ion-tab title="Paysages" icon-off="ion-image" icon-on="ion-map" href="#/tab/paysages">
        <ion-nav-view name="paysages"></ion-nav-view>
    </ion-tab>

    <!-- histoire Tab -->
    <ion-tab title="Histoire" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/histoire">
        <ion-nav-view name="histoire"></ion-nav-view>
    </ion-tab>

    <!-- carte Tab -->
    <ion-tab title="Carte" icon-off="ion-map" icon-on="ion-map" href="#/app/carte">
        <ion-nav-view name="carte"></ion-nav-view>
    </ion-tab>

</ion-tabs>
