<ion-view view-title="A propos">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <!--  style="position: absolute;display: block!important;top: 0px;left: 0px;"-->
        <div class="item item-divider">Le <b>patrimoine remarquable</b> <br />de la communauté d'agglomération<br />version 0.1.151005</div>
        <div class="item item-body">
            
                Développé par la <b>Direction de l'Informatique et du Numérique</b> de la Communauté d’Agglomération Sophia Antipolis.
                <br />
                Ont participé au développement:
                <ul>
                    <li>
                        &#149; <b>Bruce LANE</b>, chef de projet/développeur
                    </li>
                    <li>
                        &#149; <b>David VINCENDEAU</b>, webmaster/webdesigner
                    </li>
                    <li>
                        &#149; <b>Edouard KABIA</b>, développeur
                    </li>

                </ul>
                <br />
                Informations techniques:
                <br />
                <span id="infos" ng-bind="infos">Chargement</span>
            <!--<webcam id="cam"  cameraid="1" channel="channel" on-stream="onStream(stream)" on-streaming="onSuccess()" on-error="onError(err)"></webcam>-->
            
        </div>
    </ion-content>
</ion-view>
