<ion-view title="Réalité augmentée Image">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content data-tap-disabled="true">
        <webcam id="cam" style="position: absolute;display: block!important;top: -9999px;left: -9999px" cameraid="1" channel="channel" on-stream="onStream(stream)" on-streaming="onSuccess()" on-error="onError(err)"></webcam>

        <canvas id="canevas"   class="overlapcanvas"> </canvas>
        <canvas id="canvas3d"  class="overlapcanvas"></canvas>
        <canvas hidden id="container" width="640" height="480" ></canvas>
        <div id="no_rtc" class="alert alert-error" style="display:none;"></div>
        <div id="log" class="alert alert-info"></div>
        <span id="infos" style="position: absolute;top: 0px;left: 320px;width:320px; height:200px;" ng-bind="infos">Infos</span>
        <span id="erreur" style="position: absolute;top: 240px;left: 320px;width:320px; height:40px;" ng-bind="erreur">erreur</span>
        <div id="pose1" style="position: absolute;top: 490px;left: 320px;width:320px; height:40px;" ></div>
        <img hidden id="trained0" ng-src="img/batiments/pinedepattern.jpg" style="position: absolute;top: 480px;left: 320px;">
        <img hidden id="trained1" ng-src="img/batiments/palaispattern.jpg" style="position: absolute;top: 720px;left: 320px;">
        <img hidden id="trained2" ng-src="img/batiments/eilenpattern.jpg" style="position: absolute;top: 960px;left: 320px;">
        <img hidden id="trained3" ng-src="img/batiments/picassopattern.jpg" style="position: absolute;top: 960px;left: 320px;">
        <div style="position: absolute;top: 320px;left: 320px;width:320px; height:240px;">
            <!--Reference name:<input type="text" ng-model="refname" required> The time is : -->
            <!--<button class="button" ng-click="train_pattern();" >Train</button>-->
            <span id="timeproc"  ></span><br>
        </div>

    </ion-content>

</ion-view>
