<ion-view title="Réalité augmentée Image">

  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content data-tap-disabled="true">
      <video id="webcam" width="640" height="480" style="display:none;"></video>
      <div style=" width:640px;height:480px;margin: 10px auto;">
          <canvas id="canvas" width="640" height="480"></canvas>
          <div id="no_rtc" class="alert alert-error" style="display:none;"></div>
          <div id="log" class="alert alert-info"></div>
      </div>

  </ion-content>

</ion-view>
