/* Empty. Add your own CSS if you like */
.img-responsive{
width: 100%;
}.titre {
	font-size: 16px;
	color: #900;
	font-weight: bold;
}
.div_100 {
	text-align: center;
	width: 100%;
}


.position_gauche {
	float: left;
	width: 33.33%;
	text-align: center;
	/* [disabled]height: 100%; */
}
.position_centre {
	width: 33.33%;
	float: left;
	text-align: center;
}
.position_droite {
	width: 33.33%;
	float: right;
	text-align: center;
	height: auto;
}
.position_gauche_50 {
	text-align: center;
	float: left;
	width: 50%;
}
.position_droite_50 {
	text-align: center;
	float: right;
	width: 50%;
}
.police {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
}
